doctype html
html
  head
    title Video List
    link(rel='stylesheet' href='/css/four0four.css')
    meta(content="width=device-width, initial-scale=1" name="viewport")
  body
    div(class="container-404")
        div(class="text")
            h1(class="title-404") Oh No!
            p(class="text-404") Diese Seite existiert nicht.
            a(href="/" class="button-404") Zurück zur Startseite
        img(src="/images/astronaut.gif", alt="Astronaut im Weltraum")