body{
    color: #303b3a;
    font-family: Poppins, sans-serif;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form{
    width: 50%;
    max-width: 600px;
    padding: 2rem;
    background: #fffbf5;
    border-radius: 1rem;
}
label, button {
    display: block;
    margin-top: 1em;
  }
  input, select{
    all: unset;
    border: 2px solid #0e202552;
    line-height: 2rem;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    margin: 20px 0 0;
    border-radius: 30px;
  }
  /* <datalist> and <option> styling */
  datalist {
    position: absolute;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
  }

  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #fffbf5;
    color: #202020;
    cursor: pointer;
    line-height: 1.6rem;
    border-left: 2px solid #0e202552;
    border-right: 2px solid #0e202552;
  }
  #genreList > option:last-of-type, #eventList > option:last-of-type, #tlList > option:last-of-type{
    border-bottom: 2px solid #0e202552;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

input#genreInput:focus-visible, input#eventInput:focus-visible, input#tlInput:focus-visible {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
  datalist option:hover, datalist option:focus {
    color: #fff;
    background-color: #202020;
    outline: 0 none;
    display: block;
  }

  input[type="file"] {
    display: none;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
  }
#drop-area > *{
    text-align: center;
    margin: 0 auto;
}

  #drop-area.highlight {
    border-color: #f2ad4c;
  }
.hidden{
    display: auto;
}
input::placeholder, select:invalid {
    opacity: 0.75;
    color: #f2ad4c;
}
.base{
    width: 100%;
    height: 5px;
    background: #ccc5;
    border-radius: 5px;
    position: relative;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    background: #f2ad4c;
    height: 100%;
    border-radius: 10px;
}
.button{
    all: unset;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid #ccc;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    transition: all 0.3s ease;
    width: fit-content;
}
.button:hover{
    background: #f2ad4c;
    color: #fff;
    border-color: #f2ad4c;
}
.loader{
    display: none;
    margin: 0 auto;
}
.active {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #f2ad4c; /* Blue */
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
    display: block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#submit p{
    margin: 0;
}
